* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  width: 80%;
  margin: auto;
}

#profile > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

#profile img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #f0f0f0;

  border: 2px dashed black;
}

.control-btns {
  margin-top: 16px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap:10px
}

.control-btns button {
  background-color: black;
  color: white;
  font-weight: 600;
  padding: 8px;
  border-radius: 16px;
  transition: 0.2s;
}

.control-btns button:hover {
  border-radius: 4px;
}

.txns {
  margin-top: 8px;
  min-width: 100px;
}

.tab-container {
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 30px;
}

.tab {
  padding: 2px;
  border: 2px solid black;
  font-size: 1rem;
  transition: .2s;
}

.tab:hover {
  background-color: black;
  color: white;
  font-size: 1.2rem;
}

.tab.active {
  border: 2px solid black;
  border-bottom: 0px;
}

.txn {
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 1fr 1fr;
  /*box-shadow:0px 1px 8px rgba(0, 0, 0, .2)*/
}

.txn:hover{
box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.2);
border-width:0px}

.txn span:nth-child(5) {
  text-align: right;
}

.modalOverlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

#newTxnForm {
  padding: 8px;
  background-color: white;
  width: 500px;
  margin: 0 auto;
  padding: 32px;
  border-radius: 16px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 10px;
}
select{
  background-color: #f0f0f0;
  padding: 4px;
  border-radius: 32px;
}

label{
  font-weight: 600;
}

#newTxnForm input,
#newTxnForm textarea {
  border: 1px solid grey;
  border-radius: 4px;
  width: 100%;
  padding: 4px;
}
#newTxnForm input:focus,
#newTxnForm textarea:focus {
  outline: 2px dashed grey;
}

.filter-controls{
  font-size: .75rem;
}
